<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" type="text/css">
    <link rel="icon" type="image/png" href="http://bucci.sexy/favicon.png" />
  </head>
  <body>
    <h1><a href="/">The Creature Zoo</a></h1>
    <div id="main">$body</div>
    <h3>Made by
      <a href="mailto:dlbucci@superftc.com" target="_blank">Daniel Bucci</a>
      for his
      <a href="http://www.superftc.com/" target="_blank">Super FTC</a>
      <a href="http://tapastic.com/series/Super-FTC" target="_blank">Tapastic Comic</a>.
    </h3>
  </body>
</html>
